@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  width: fit-content;
  position: relative;
  color: #ffff;
  @apply bg-custom-black;
}
